





.about .canvas { padding: 5rem 0 ; }
.about h1 { font-size: 3.125rem ; text-align: center ; }
.about h2 { font-size: 1.25rem ; margin-bottom: 0.25rem ; }
.about p { font-size: 1.125rem ; margin: 0 ; }
.about .inside { max-width: 50rem ; margin: 0 auto ; }